*{
    margin: 0;
    font-family: 'Karla', sans-serif;
    overflow: hidden;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 100vh;
    background: #1F2937;  
}

.content{
    background: #1F2937;
    height: 100vh;
    padding-left: 50px;
    padding-top: 115px;
    width: 100%;
}

#title{
    color:#FFFFFF;
    font-size: 40px;
    
}

#title-2{
    color: #4ADF86;
}

#text{
    margin-top: 10px;
    color: #D5D4D8;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

#generate-btn{
    margin-top: 50px;
    font-size: 16px;
    color:#FFFFFF;
    padding: 9px 17px 9px 15px;
    background: #4ADF86;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

#generate-btn:hover{
    background: #488860;
}

#line{
    margin-top: 80px;
    width: 446px;
    border: 1px #2F3E53 solid;
}

.password-content{
    margin-top: 40px;
    display: inline-block;
}

#passwordOne{
    background-color: #273549;
    border: none;
    border-radius: 2px;
    width: 210px;
    height: 40px;
    padding: 6px 15px;
    flex-shrink: 0;
    margin-right: 20px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Inter';
    color: #55F991;
    text-align: center;
    cursor: pointer;
}

#passwordOne:hover{
    background-color: #3a4553;
}


#passwordTwo{
    background-color: #273549;
    border: none;
    border-radius: 2px;
    width: 210px;
    height: 40px;
    padding: 6px 12px;
    flex-shrink: 0;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Inter';
    color: #55F991;
    text-align: center;
    cursor: pointer;
}

#passwordTwo:hover{
    background-color: #3a4553;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #55F991;
    color: #FFFFFF;
    opacity: 0.9;
    border-radius: 5px;
    font-weight: bold;
}